img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rounded {
    border-radius: 50%;
}

.text-content {
    text-align: center;
    margin-top: 30px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

body {
    height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
}

i {
    margin-right: 10px;
}